*{
    font-family: Arial, Helvetica, sans-serif;
}



nav .navbar{
    display: flex;
}

nav .navbar #menu-icon{
    font-size: 2.5rem;
    cursor: pointer;
}

nav img{
    width: 40%
}

nav ul{
    display:none ;
    flex-direction: column;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 20px 0;
}
nav ul a{
    display: block;              
  width: 100%;                  
  padding: 20px 0;              
  background-color: #d6c6a1;    
  color: #1f4e4e;               
  text-decoration: none;
  border-top: 2px solid #1f4e4e;
  border-bottom: 2px solid #1f4e4e;
  
}

nav ul.show{
    display: contents;
}
