:root{
    --main-color:#d6c6a1;
    --second-color:#1f4e4e;
    
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 430px;
}

/* navbaar */

nav{
    background-color: white;
    position: relative;
    z-index: 10;
}
nav .navbar{
    display: flex;
}

nav .navbar #menu-icon{
    margin-right: 20px;
    font-size: 2.5rem;
    cursor: pointer;
}

nav img{
    width: 40%
}

nav ul{
    display:none ;
    flex-direction: column;
    top:100%;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 20px 0;
}
nav ul a{
    display: block;              
  width: 100%;                  
  padding: 20px 0;              
  background-color: main-color;    
  color: #1f4e4e;               
  text-decoration: none;
  border-top: 2px solid #1f4e4e;
  border-bottom: 2px solid #1f4e4e;
  
}

nav ul.show{
    display: flex;
}

/* Heero  */

.hero-section{
    position: relative;
    z-index: 1;
}

.hero-section img{
    width: 100%;
    position: relative;
}

.hero-section .title {
    padding: 10px;
    color: white;
    position: absolute;
    top: 1rem;
    
}

.hero-section .title h1{
    font-size: 1.8rem;
}

.hero-section .title p{
    font-size: 0.8rem;
    opacity: 70%;
}

.hero-section .buttons{
    padding: 10px;
    position: absolute;
    top: 9rem;
}

.hero-section .buttons #explore-btn{
    padding: 12px 17px;
    background-color: #9D834A;
    border-radius: 5px;
    border: none;
    font-size: 9px;
}

.hero-section .buttons #explore-btn:hover{
    background-color: #d6c6a1;
}

.hero-section .buttons #Register-btn{
    opacity: 100%;
    border: 2px solid #116965;
    border-radius: 10px;
    padding: 8px;

}

.hero-section .buttons #Register-btn:hover{
    background-color: #d6c6a1;
   
}

.hero-section .buttons #Register-btn a{
    color: white; 
    text-decoration: none;
    font-size: 12px;
     padding: 12px 17px;

}

.hero-section .buttons #Register-btn a:hover{
     color: #000000;
}

/* C'est quoi le e-dirham Section */

.e-dirham-section .title , .avantages-section .title , .faqs-section .title{
    font-size: 14px;
}

.e-dirham-section .describ-edirham{
    border: 2px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--second-color);
    color:white;
    padding: 15px;
    box-shadow:10px 10px 10px #00000095;
    margin: 10px;
}

/* avantages section  */

.avantages-section .avantages {
    padding: 10px;
    display: grid;
    gap: 12px;
}

.avantages-section .avantages #card img{
    width: 12rem;
}
.avantages-section .avantages  #card{
    border: 3px solid var(--second-color);
    border-radius: 12px;
    width: 22rem;
    height: 20rem;
    margin: 2rem;
    text-align: center ;
    background-color: white;
    transition: 0.3s;
}

.avantages-section .avantages  #card:hover{
    border: 5px solid var(--second-color);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.626);
}
.avantages-section .avantages  #card h1 {
    margin-top: -20px;
}

/* FAQs section */

.faqs-section .card{
    display: flex;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    background-color: #d6c6a156;
    color:black;
    padding: 15px;
    margin: 10px;
    box-shadow:10px 10px 10px #00000095;
    margin-bottom: 30px;
    gap: 30px;
}

.faqs-section  .card img{
    width: 12rem;
}

.faqs-section .cards .card .infos{
    text-align: center;
    margin-top: -30px;
}

.faqs-section .cards .card .infos h1 , p{
    margin-top: -15px;
}

.faqs-section .cards .card .faq h1{
    text-align: center;
}

.faqs-section .cards .card .faq p{
    opacity: 70%;
}


